# ch5 : tuples

 iterable,
#lists-like-operations

# ()
# immutable (r/o)

In [1]:
# empty tuple
t1=()

In [2]:
# create a tuple
t1=('english','sanskrit','hindi','french')
print(t1)

('english', 'sanskrit', 'hindi', 'french')

In [3]:
type(t1)

tuple

In [4]:
len(t1)

4

In [5]:
# access the tuple - using index
t1[0]

'english'

In [6]:
t1[0:3]

('english', 'sanskrit', 'hindi')

In [7]:
# immutable
t1[0] = "grammar"

'''
this will show error because tuple is immutable 
'''

TypeError: 'tuple' object does not support item assignment

In [8]:
# to change values in tuples, 
# i) convert tuple to list
t1 = list(t1)
type(t1)

list

In [9]:
print(t1)

['english', 'sanskrit', 'hindi', 'french']

In [10]:
# ii) make changes to the list
t1[0] = "grammar"
print(t1)

['grammar', 'sanskrit', 'hindi', 'french']

In [11]:
# iii) convert list to tuple
t1 = tuple(t1)
print(t1)

('grammar', 'sanskrit', 'hindi', 'french')

In [12]:
# concatenate new values to a tuple
# create a new tuple with new values
t2=('german','mandarin','tamil','marathi','malayalam')
t2

('german', 'mandarin', 'tamil', 'marathi', 'malayalam')

In [13]:
# concatenate new tuple with old tuple
t1=t1+t2

print(t1)

('grammar', 'sanskrit', 'hindi', 'french', 'german', 'mandarin', 'tamil', 'marathi', 'malayalam')

In [15]:
# find if a word exists in the tuple
'spanish' in t2

False

In [16]:
'tamil' in t2

True

In [17]:
# finds the position of the element
t1.index('marathi')

7

In [18]:

# pack/unpack a tuple
rec=('LPT11','Asus Notebook',45000,True,4.5)
print(rec)

('LPT11', 'Asus Notebook', 45000, True, 4.5)

In [19]:
# unpack
icode,iname,iprice,iavail,irate=rec
print(icode,iname,iprice,iavail,irate)

LPT11 Asus Notebook 45000 True 4.5

In [20]:

# nested tuples (tuple of tuples)
rec2=(
     ('LPT11','Asus Notebook',45000,True,4.5),
     ('MBL904','Mobile Samsung',25000,True,3.2),
     (4771949,'HP Printer',5610,True,2.8),
     ('ABC006','e-Book',1100,True,4.0)
    )

print(rec2)

(('LPT11', 'Asus Notebook', 45000, True, 4.5), ('MBL904', 'Mobile Samsung', 25000, True, 3.2), (4771949, 'HP Printer', 5610, True, 2.8), ('ABC006', 'e-Book', 1100, True, 4.0))

In [21]:
len(rec2)

4

In [22]:
# suppose i have purchased these products. 
# what is the total cost ?
totalprice = 0

In [23]:

# iterable object
for e in rec2:
    totalprice = totalprice + e[2]
    
print("The total cost is", totalprice)

The total cost is 76710

In [24]:

# binding the nested tuple
tuple(zip(*rec2))

(('LPT11', 'MBL904', 4771949, 'ABC006'),
 ('Asus Notebook', 'Mobile Samsung', 'HP Printer', 'e-Book'),
 (45000, 25000, 5610, 1100),
 (True, True, True, True),
 (4.5, 3.2, 2.8, 4.0))

In [25]:
list(zip(*rec2))

[('LPT11', 'MBL904', 4771949, 'ABC006'),
 ('Asus Notebook', 'Mobile Samsung', 'HP Printer', 'e-Book'),
 (45000, 25000, 5610, 1100),
 (True, True, True, True),
 (4.5, 3.2, 2.8, 4.0)]

In [26]:
# create a range of numbers from 1-20 and store in a tuple

num1 = tuple(range(1,21))

max(num1)

20

In [27]:
min(num1)

1

# create a tuple of 10 grocery items in the following format

itemname, quantity, rate, total

# i) total -> should be calculated as quantity*rate
# ii) calculate the bill total
# iii) identify the costliest and the cheapest product (based on the total)


# round about method

In [28]:
groc=( ('rice',10,59), ('bread',4,30), ('milk',2,36) )
groc

(('rice', 10, 59), ('bread', 4, 30), ('milk', 2, 36))

In [29]:
cost = [590,120,72]

groc = list(groc)

In [33]:
for i in range(0,len(groc)):
    groc[i] = list(groc[i])
    groc[i].append(cost[i])
    groc[i] = tuple(groc[i])
groc

[('rice', 10, 59, 590, 590, 590),
 ('bread', 4, 30, 120, 120, 120),
 ('milk', 2, 36, 72, 72, 72)]

In [35]:
# binding the nested tuple
tuple(zip(*groc))

(('rice', 'bread', 'milk'),
 (10, 4, 2),
 (59, 30, 36),
 (590, 120, 72),
 (590, 120, 72),
 (590, 120, 72))

##########################################################################

In [36]:
grocery=(
('Rice',5,50,0),
('sugar',3,25,0),
('milk',1,55,0),
('bread',4,25,0),
('biscuit',10,10,0),
('eggs',30,6,0),
('oelive oil',2,180,0),
('toothpaste',2,20,0),
('soap',7,8,0),
('silk chocolate',1,100,0)
)
print(grocery) #same as zip

(('Rice', 5, 50, 0), ('sugar', 3, 25, 0), ('milk', 1, 55, 0), ('bread', 4, 25, 0), ('biscuit', 10, 10, 0), ('eggs', 30, 6, 0), ('oelive oil', 2, 180, 0), ('toothpaste', 2, 20, 0), ('soap', 7, 8, 0), ('silk chocolate', 1, 100, 0))

In [37]:
#1)total ->should be claculated by quantity*rate 
grocery=list(grocery)
print(grocery)
type(grocery)

[('Rice', 5, 50, 0), ('sugar', 3, 25, 0), ('milk', 1, 55, 0), ('bread', 4, 25, 0), ('biscuit', 10, 10, 0), ('eggs', 30, 6, 0), ('oelive oil', 2, 180, 0), ('toothpaste', 2, 20, 0), ('soap', 7, 8, 0), ('silk chocolate', 1, 100, 0)]

list

In [38]:

    for i in range(0,len(grocery)):
             grocery[i]=list(grocery[i])
             grocery[i][3] = grocery[i][1]*grocery[i][2]
             grocery[i] =tuple(grocery[i])
             
    print(grocery)
grocery=tuple(grocery)         
grocery

[('Rice', 5, 50, 250), ('sugar', 3, 25, 75), ('milk', 1, 55, 55), ('bread', 4, 25, 100), ('biscuit', 10, 10, 100), ('eggs', 30, 6, 180), ('oelive oil', 2, 180, 360), ('toothpaste', 2, 20, 40), ('soap', 7, 8, 56), ('silk chocolate', 1, 100, 100)]

(('Rice', 5, 50, 250),
 ('sugar', 3, 25, 75),
 ('milk', 1, 55, 55),
 ('bread', 4, 25, 100),
 ('biscuit', 10, 10, 100),
 ('eggs', 30, 6, 180),
 ('oelive oil', 2, 180, 360),
 ('toothpaste', 2, 20, 40),
 ('soap', 7, 8, 56),
 ('silk chocolate', 1, 100, 100))

In [39]:
#2)calculate the bill total
tuple(zip(*grocery))
bill=tuple(zip(*grocery))[3]
sum(bill)

1316

In [40]:
#3)identify the costlier and the cheapest product (based on the total cost )

tuple(zip(*grocery))
groitm=tuple(zip(*grocery))[3]
max(groitm)

360

In [41]:
min(groitm)

40